VITE_GOOGLE_MAP_KEY="YOUR_GOOGLE_MAP_KEY"
VITE_API_USER_SERVICE_URL='USER-SERVICE'
VITE_API_ADMIN_SERVICE_URL='ADMIN-SERVICE'
VITE_API_BOOKING_SERVICE_URL='BOOKING-SERVICE'
VITE_API_SOCKET_URL='ws://USER-SERVICE-URL'
