@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@base-variant dark (&: is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Base [Custom] Color Palette */
  --color-base-primary: var(--base-primary);
  --color-base-primary-dark: var(--base-primary-dark);

  --color-base-secondary: var(--base-secondary);
  --color-base-secondary-dark: var(--base-secondary-dark);

  --color-base-info: var(--base-info);

  --color-base-gray: var(--base-gray);

  --color-base-white: var(--base-white);

  --color-base-black: var(--base-black);

  --color-base-danger: var(--base-danger);

  --color-base-success: var(--base-success);

  --color-base-warning: var(--base-warning);

  --color-base-light-gray: var(--base-light-gray);

  --color-base-background-light: var(--base-background-light);

  --color-base-background: var(--base-background);

  --background-image-base-blue-cream: var(--base-blue-cream);

  --shadow-base-sm: var(--base-shadow-sm);
  --shadow-base-md: var(--base-shadow-md);

  /* Font Families */
  --font-family: var(--font-family);
  --font-varela: var(--font-varela);
  --font-montserrat: var(--font-montserrat);
  --font-quicksand: var(--font-quicksand);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--base-white);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-family: "Montserrat", "Quicksand", sans-serif;
  --font-varela: "Varela Round", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  /* Base [Custom] Color Palette */
  --base-primary: #135389;
  --base-primary-dark: #0a4272;

  --base-secondary: #d68e29;
  --base-secondary-dark: #996925;

  --base-info: #3ca8d7;
  --base-gray: #b6b6b6;
  --base-white: #ffffff;
  --base-black: #404040;
  --base-danger: #d50000;
  --base-success: #08a100;
  --base-warning: #eaa000;
  --base-light-gray: #f5f5f5;

  /* Base [Custom] Background Palette */
  --base-background: #fdfdfd;
  --base-background-light: #fefefe;
  --base-blue-cream: linear-gradient(90deg, #e4f3ff 0%, #fff8ef 100%);
  --base-shadow-sm: 0px 0px 16px 0px #0000000d;
  --base-shadow-md: 2px 0px 20px 0px #0000000d;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  svg.lucide,
  svg.tabler-icon {
    @apply stroke-[1.5] origin-center;
  }
  .loader {
    @apply size-12 rounded-full inline-block box-border;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    @apply absolute left-0 top-0 size-12 rounded-full box-border;
    border-left: 4px solid var(--base-primary);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .editor-content > h2 {
    font-family: var(--font-montserrat);
    font-size: 1.25rem;
    font-weight: bold;
  }

  .editor-content > p {
    font-family: var(--font-varela);
    font-size: 1rem;
  }

  @keyframes skeletonShimmer {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }

  .skeleton {
    background: linear-gradient(90deg, #e5e7eb 0%, #f3f4f6 50%, #e5e7eb 100%);
    background-size: 1000px 100%;
    animation: skeletonShimmer 1.5s infinite linear;
  }

  @keyframes shimmer {
    0% {
      background-position: -400px 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

  .shimmer {
    background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
    background-size: 800px 100%;
    animation: shimmer 1.2s infinite;
  }
}
